<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/css/home.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="js.js"></script>
</head>

<body>
<div class="full-height" >
    <div class="sticky-top"  >
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">Hemorois</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-item nav-link " th:href="@{/logout}">Logout</a>
                </li>
            </ul>

            <!-- Navbar content -->
        </nav>
    </div>
    <div class="sidenav btn-group-vertical">

        <button sec:authorize="hasAuthority('ADMIN')" class="tablinks active" id="londonBut" onclick="openCity(event, 'London')">Admin</button>
        <button class="tablinks " id="parisBut" onclick="openCity(event, 'Paris')">User</button>


    </div>

    <div sec:authorize="hasAuthority('ADMIN')" id="London" class="tabcontent active" style="display: block">
        <ul id="tabsP" class="nav nav-tabs" style="width: 1150px; margin-left: 31px">
            <li sec:authorize="hasAuthority('ADMIN')" class="nav-item active" id="adminLi"><a  href="#home" id="showUser" aria-controls="home" role="tab" data-toggle="tab" class="nav-link active" aria-expanded="true">Edit User</a></li>
            <li class="nav-item" id="addUserLi"><a href="#profile" id="newUser" onclick="changeNavTab()" aria-controls="profile" role="tab" data-toggle="tab" class="nav-link">Add new user</a></li>
        </ul>
    </div>

    <div id="Paris" class="tabcontent">
        <h3>User</h3>
        <p>Hello from </p>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')" class="tab-content active" id="tabsList" style="margin-left: 230px">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="card" style="width: 1150px">
                <div class="card-header">Users List</div>
                <div class="card-block">
                    <table class="table table-inverse" id="dataTable">
                        <colgroup>
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 70%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 70%;">
                        </colgroup>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Login</th>
                        <th>Name</th>
                        <th>Password</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tabU" th:each="user : ${userDataSets}">
                        <td id="userId" th:value="${user.id}" th:text="${user.id}"></td>
                        <td id="userLogin" th:text="${user.login}"></td>
                        <td id="userName" th:text="${user.name}"></td>
                        <td id="userPass" th:text="${user.password}"></td>
                        <td id="roles" th:each="roles : ${user.roles}" th:text="${roles.name}"></td>
<!--                        <td sec:authorize="hasAuthority('user')" id="roles1" th:text="User"></td>-->
                        <td><button id="mod1" class="btn btn-primary" value="" th:onclick="'javascript:openModal(' + ${user.id} + ')'"   type="button" >Edit</button></td>
                        <td><button type="button" th:onclick="'javascript:deletUser(' + ${user.id} + ')'" class="btn btn-danger">Delet</button></td>
                    </tr>
                    </tbody>
                </table></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <div class="card" style="width: 1150px">
                <div class="card-header">Add new user</div>
                <div class="card-block">
                    <form style="width: 600px; margin: 0 auto;">
                    <div class="form-group">
                        <label style="margin-left: 265px"><b>Login</b></label>
                        <input type="text" class="form-control" id="addLogin" placeholder="Login" value="">
                    </div>
                    <div class="form-group">
                        <label style="margin-left: 265px"><b>Name</b></label>
                        <input type="text" class="form-control" id="addName" placeholder="Name" value="">
                    </div>
                        <div class="form-group">
                            <label  style="margin-left: 265px"><b>Password</b></label>
                            <input type="text" class="form-control" id="addPass" placeholder="Password" value="">
                        </div>
                        <div>
                            <label>Add role:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="adminAddRole" onclick="functionAddAdminRole()">
                                <label class="form-check-label" for="adminAddRole">
                                    Admin
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="userAddRole" onclick="functionAddUserRole()">
                                <label class="form-check-label" for="userAddRole">
                                    User
                                </label>
                            </div>
                        </div>
                        <button  style="margin-left: 233px" type="button" onclick="addUser()" class="btn btn-success">Add new user</button>
                </form>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit user</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div action class="modal-body">
                    <form  id="modalForm" method="post">
                        <div class="form-group" style="margin: 0 auto">
                            <label style="margin-left: 228px"><b>ID</b></label>
                            <input type="text" class="form-control" id="idUser" value="" readonly>
                        </div>

                        <div class="form-group" style="margin: 0 auto" >
                            <label style="margin-left: 216px"><b>Login</b></label>
                            <input type="text" class="form-control" th:id="loginEditIn" value="">
                        </div>

                        <div class="form-group" style="margin: 0 auto">
                            <label style="margin-left:216px"><b>Name</b></label>
                            <input type="text" class="form-control" th:id="nameEditIn" value="">
                        </div>

                        <div class="form-group"style="margin: 0 auto">
                            <label style="margin-left: 210px"><b>Password</b></label>
                            <input type="text" class="form-control" th:id="passEdit" value="">
                        </div>

<!--                        <div class="form-group" style="margin: 0 auto">-->
<!--                            <label style="margin-left: 216px"><b>Role</b></label>-->
<!--                            <input type="text" class="form-control" th:id="roleEdit" value="">-->
<!--                        </div>-->
                        <div>
                            <label>Add role:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="adminRole" onclick="functionAdminRole()">
                                <label class="form-check-label" for="adminRole">
                                    Admin
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="userRole" onclick="functionUserRole()">
                                <label class="form-check-label" for="userRole">
                                    User
                                </label>
                            </div>
                        </div>


                        <div class="form-group row">
                            <button class ="btn btn-info mx-auto" type="button"  onclick="editUser()" data-dismiss="modal" id="myButt">Update</button>
<!--                            <input id="updateButton" type="submit" onclick="editUser()" value="Update User">-->
                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>



</div>
</body>
</html>